@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700;800;900&family=Noto+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Binggrae-Two";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #444;
  text-decoration: none;
}
ul {
  list-style: none;
}
.wrap {
  width: 100%;
}
header {
  background: url(../images/pc_section01_3.jpg) no-repeat;
  width: 100%;
  /* height: 896px; */
}
.header-inner {
  width: 100%;
  height: 120px;
  padding: 45px;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
}
.menu ul {
  list-style: none;
  display: flex;
}
.menu ul li {
  padding: 0 30px;
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
}
.big-logo {
  background-size: cover;
  width: 1328px;
  height: 422px;
  margin: 50px auto;
}
.main {
  width: 100%;
}
.search_bar {
  width: 1020px;
  height: 80px;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 100px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_bar input {
  width: 85%;
  border: 0;
  outline: none;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}
.search_bar button {
  background-color: rgb(211, 21, 21);
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  width: 200px;
  height: 60px;
  border: 0;
  border-radius: 100px;
  font-family: "Noto Sans KR", sans-serif;
}
.fa-magnifying-glass {
  width: 30px;
  height: 30px;
  margin: 7px 20px;
}

.taste {
  width: 100%;
  margin-top: 100px;
}
.taste h1 {
  text-align: center;
  font-family: "Binggrae-Two";
  font-size: 40px;
  margin: 20px auto;
  color: #1f1f1f;
  line-height: 1.45;
  letter-spacing: -1.9px;
}
.taste-inner {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.taste-inner li {
  margin: 10px 10px;
  text-align: center;
}
.taste-inner img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}
.taste-inner p {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  width: 200px;
  height: 30px;
  line-height: 30px;
  background-color: rgb(247, 247, 247);
  border: 0;
  border-radius: 20px;
}
.brandshop {
  width: 100%;
  margin-top: 100px;
}
.brandshop h1 {
  text-align: center;
  font-family: "Binggrae-Two";
  font-size: 40px;
  margin: 20px auto;
  color: #1f1f1f;
  line-height: 1.45;
  letter-spacing: -1.9px;
}
.brandshop-inner {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  list-style: none;
}
.brandshop img {
  margin: 10px;
  width: 200px;
  height: 200px;
  border: 1px solid #eeeeee;
  border-radius: 20px;
}
.cs {
  width: 100%;
  margin-top: 100px;
}
.cs h1 {
  text-align: center;
  font-family: "Binggrae-Two";
  font-size: 40px;
  margin: 20px auto;
  color: #1f1f1f;
  line-height: 1.45;
  letter-spacing: -1.9px;
}
.cs-inner {
  background-color: antiquewhite;
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.cs-wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  gap: 15px;
  margin: 0 auto;
}
.cs-wrap h2 {
  font-family: "Binggrae-Two";
  color: #1f1f1f;
  font-size: 30px;
  margin: 10px 0;
}
.cs-wrap p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0;
}
.email {
  width: 600px;
  height: 300px;
  background: url("../images/sec04_backimg01.png") no-repeat;
  background-size: cover;
  padding: 40px;
  border-radius: 20px;
}
.main button {
  font-family: "Noto Sans KR", sans-serif;
  width: 160px;
  height: 40px;
  border-radius: 50px;
  border: 0;
  font-size: 14px;
  line-height: 40px;
}
.email button {
  background-color: rgb(211, 21, 21);
  color: #fff;
  margin-top: 30px;
}
.call {
  width: 600px;
  height: 300px;
  background: url("../images/sec04_backimg02.png") no-repeat;
  background-size: cover;
  padding: 40px;
  border-radius: 20px;
}
.call h3 {
  font-family: "Poppins", sans-serif;
  color: #303030;
  font-size: 42px;
  margin: 10px 0;
}
.call p {
  margin-top: 20px;
}
.call span {
  color: red;
  font-weight: 600;
}
.qna-wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
.qna-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.qna-wrap h2 {
  font-family: "Binggrae-Two";
  color: #1f1f1f;
  font-size: 30px;
}
.qna-wrap button {
  background-color: #fff;
  color: #1f1f1f;
  border: 1px solid rgba(224, 223, 226, 0.6);
}
.qna-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 15px;
  margin: 10px auto;
}
.qna-wrap ul {
  width: 50%;
}
.qna-wrap ul li {
  width: 570px;
  height: 80px;
  background-color: #f9f9f9;
  color: #1f1f1f;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  border-radius: 30px;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
  margin: 10px 0;
  padding: 30px;
  display: flex;
  align-items: center;
}
.qna-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.qna-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.report {
  width: 100%;
  margin-top: 100px;
}
.report h1 {
  text-align: center;
  font-family: "Binggrae-Two";
  font-size: 40px;
  margin: 20px auto;
  color: #1f1f1f;
  line-height: 1.45;
  letter-spacing: -1.9px;
}
.report-wrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 15px;
}
.report-wrap p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.report-wrap button {
  background-color: rgb(211, 21, 21);
  color: #fff;
}
.report-1 {
  width: 600px;
  height: 230px;
  background-color: #f9f9f9;
  padding: 50px;
  border-radius: 30px;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer {
  width: 100%;
  background-color: #303030;
  margin-top: 100px;
  padding: 50px;
  font-family: "Noto Sans KR", sans-serif;
}
footer ul {
  list-style: none;
  text-decoration: none;
}
.ft-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.ft-logo {
  background: url(../images/f_logo.png) no-repeat;
  background-size: cover;
  width: 113px;
  height: 30px;
}
.ft-top ul {
  width: 200px;
  display: flex;
  justify-content: space-around;
}
.ft-top ul li a {
  font-size: 14px;
  font-weight: bold;
  color: #5f5f5f;
}
.ft-md {
  width: 100%;
  color: #999;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 100px;
}
.ft-bt {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
}
.ft-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}
.ft-icon li a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
}
.ft-icon li a img {
  width: 20px;
}
