@charset "utf-8";
@media all and (max-width: 1200px) {
  .menu ul {
    display: none;
  }
  .menu i {
    display: block;
    font-size: 30px;
    margin-right: 30px;
  }
  .taste .prev{
    font-size: 20px;
  }
  .taste .next{
    font-size: 20px;
  }
  .brandshop .prev{
    font-size: 20px;
  }
  .brandshop .next{
    font-size: 20px;
  }
}
@media all and (max-width: 768px) {
  header {
    background-position: right;
    height: 500px;
  }
  h1 {
    font-size: 30px;
  }
  .menu{
    width: 30px;
  }
  .big-logo {
    height: auto;
    margin-top: 50px;
  }
  .big-logo img {
    display: block;
    width: 100%;
    /* height: 230px; */
  }
  .search_bar {
    margin-top: 100px;
    height: auto;
  }
  .fa-magnifying-glass {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    /* margin: 5px 10px 2px 10px; */
  }
  .search_bar{
    height: 52px;
  }
  .search_bar input {
    width: 85%;
    font-size: 13px;
  }
  .search_bar button {
    font-size: 14px;
    font-weight: 600;
    width: 150px;
    height: 42px;
  }
  .swiper-slide p{
    font-size: 14px;
    line-height: 25px;
  }
  .cs {
    margin-top: 100px;
  }
  .cs-inner {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .cs-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 30px;
  }
  .cs-wrap h2 {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 20px;
  }
  .cs-wrap p {
    font-size: 14px;
    font-weight: 400;
    margin: 10px 30px;
  }
  .email {
    width: 100%;
    height: 130px;
    background: url("../images/m_sec04_backimg01.png") no-repeat center;
    background-size: cover;
    padding: 0;
  }
  .email-p-1 {
    display: none;
  }
  .email-p-2 {
    display: block;
  }
  .email button {
    display: none;
  }
  .call {
    width: 100%;
    height: 130px;
    background: url("../images/m_sec04_backimg02.png") no-repeat center;
    background-size: cover;
    padding: 0;
  }
  .call h3 {
    font-size: 20px;
    margin: 0 30px;
  }
  .call p {
    margin-top: 1px;
  }
  .qna-wrap {
    margin: 20px auto;
    padding: 0;
  }
  .qna-head {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .qna-wrap h2 {
    font-size: 18px;
  }
  .qna-wrap button {
    width: 90px;
    height: 33px;
    line-height: 33px;
    font-size: 13px;
  }
  .qna-box {
    flex-direction: column;
    margin: 0 auto;
  }
  .qna-wrap ul {
    width: 100%;
  }
  .qna-wrap ul li {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    font-size: 14px;
    margin: 10px 0;
    padding: 15px 30px;
  }
  .qna-1 {
    display: none;
  }
  .qna-2 {
    display: none;
  }
  .qna-3 {
    display: block;
  }
  .report-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .report-wrap p {
    font-size: 16px;
  }
  .report-1 {
    width: 100%;
  }
  .ft-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .ft-top ul {
    justify-content: space-evenly;
  }
  .ft-top ul li a {
    font-size: 10px;
  }
  .ft-md {
    text-align: center;
    font-size: 10px;
    line-height: 15px;
  }
  .ft-icon li a {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  .ft-icon {
    gap: 15px;
  }
  .ft-icon li a img {
    width: 20px;
  }
  .ft-bt {
    justify-content: center;
  }
}
@media all and (max-width: 320px){
  header{
    max-height: 300px;
  }
  .header-inner{
    padding: 20px;
  }
  .logo a img{
    width: 60%;
  } 
  .menu{
    width: 20px;
  }
  .menu .fas{
    font-size: 20px;
  }
  .search_bar{
    min-width: 280px;
    height: 38px;
    margin-top: 70px;
  }
  .search_bar input{
    font-size: 12px;
  }
  .search_bar button{
    max-height: 30px;
    font-size: 12px;
    font-weight: 500;
  }
  .fa-magnifying-glass {
    width: 17px;
    height: 17px;
    margin: 0 10px;
    margin-top: 6px;
  }
  .main{
    width: 100%;
  }
  h1{
    font-size: 25px;
  }
  .swiper-slide p{
    margin-top: 2px;
    font-size: 12px;
    line-height: 18px;
  }
  .taste{
    padding-bottom: 50px;
    border-bottom: 5px solid rgba(0,0,0,0.05);
  }
  .cs-inner {
    padding: 10px;
  }
  .cs-wrap{
    margin-top: 20px;
  }
  .cs-wrap h2{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20px;
  }
  .cs-wrap p {
    font-size: 12px;
    font-weight: 400;
    margin: 10px 20px;
  }
  .call h3{
    font-size: 18px;
    margin-left: 20px;
  }
  .qna-head{
    align-items: center
  }
  .qna-wrap button{
    width: 120px;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
  }
  .report-wrap p{
    font-size: 16px;
  }
  .report-1{
    padding: 30px;
    justify-content: space-around
  }
  .report-1 p:nth-child(1){
    display: none;
  }
  .report-1 p:nth-child(2){
    display: block;
  }
  .report-wrap button{
    font-size: 12px;
  }
}